:root {
  --black100: #151515;
  --black80: #555;
  --gray100: #a7a7a7;
  --font: 'Inter', Arial, Helvetica, sans-serif;
  --contentWidth: 1360px
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

html {
  scroll-behavior: smooth;
}