.header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 28px 0 12px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.header__content {
  width: var(--contentWidth);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__name {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: min-content;
  margin: 0 0 0 52px;
  padding: 0;
}

.header__logo {
  background-image: url(../../images/logo.jpg);
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  font-family: var(--font);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: var(--black80);
  margin: 0 32px 0 0;
  transition: color 0.15s linear;
  cursor: pointer;
  text-decoration: none;
}

.header__link:hover {
  color: var(--black100);
}

.header__link:last-child {
  margin: 0 40px 0 0;
}

.header__toggle-lang {
  appearance: none;
  position: relative;
  width: 80px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  background: #ececec;
  box-sizing: border-box;
}

.header__toggle-lang::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "RU";
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black100);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header__toggle-lang:checked::after {
  content: "ENG";
  left: 36px;
}

@media screen and (max-width: 1439px) {
  .header__content {
    width: calc(100% - 48px);
  }

  .header__link {
    line-height: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    position: static;
    padding: 24px 0 12px;
  }

  .header__content {
    width: calc(100% - 32px);
  }

  .header__nav-links {
    display: none;
  }

  .header__toggle-lang {
    width: 72px;
    height: 38px;
  }

  .header__toggle-lang::after {
    width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 20px;
  }

  .header__toggle-lang:checked::after {
    content: "ENG";
    left: 36px;
  }

  .header__toggle-lang:checked::after {
    left: 34px;
  }
}